<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;"><i class="glyphicon glyphicon-user"></i> Profile</h1>
        <img class="thumbnail-circle" src="<%= user.avatar%>">
        <div style="width: 30%; margin: 30px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" value="<%= user.username %>">
                </div>
                <div class="form-group">
                    <label for="username">First Name</label>
                    <input class="form-control" type="text" name="firstName" value="<%= user.firstName %>">
                </div>
                <div class="form-group">
                    <label for="username">Last Name</label>
                    <input class="form-control" type="text" name="lastName" value="<%= user.lastName %>">
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input class="form-control" type="email" name="email" value="<%= user.email %>">
                </div>
                <div class="form-group">
                    <label for="username">Avatar</label>
                    <input class="form-control" type="text" name="avatar" value="<%= user.avatar %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" value= "<%= user.description%>">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lrg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>